USE [master]
GO
/****** Object:  Database [PublicosSancionados]    Script Date: 16/02/2023 02:39:31 p. m. ******/
CREATE DATABASE [PublicosSancionados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Prueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Prueba_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PublicosSancionados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PublicosSancionados]
GO
/****** Object:  Table [dbo].[documentos]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentos](
	[idDocumentos] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](140) NOT NULL,
	[tipoDocumento] [int] NULL,
	[descripcion] [varchar](140) NOT NULL,
	[url] [varchar](200) NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_Documentos] PRIMARY KEY CLUSTERED 
(
	[idDocumentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genero]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [char](1) NOT NULL,
	[valor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_genero_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inhabilitacion]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inhabilitacion](
	[idInhabilitacion] [int] IDENTITY(1,1) NOT NULL,
	[plazo] [varchar](10) NULL,
	[fechaInicial] [date] NULL,
	[fechaFinal] [date] NULL,
 CONSTRAINT [PK_Inhabilitacion] PRIMARY KEY CLUSTERED 
(
	[idInhabilitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[institucionDependencia]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[institucionDependencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](140) NULL,
	[nombre] [varchar](140) NOT NULL,
	[siglas] [varchar](10) NULL,
 CONSTRAINT [PK_InstitucionDepenencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listaDocumento]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listaDocumento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idDocumento] [int] NOT NULL,
	[idSancion] [int] NOT NULL,
 CONSTRAINT [PK_listaDocumento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listaSanciones]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listaSanciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTipoSancion] [int] NOT NULL,
	[idSancion] [int] NOT NULL,
	[descripcionSancion] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moneda]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moneda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [char](10) NOT NULL,
	[valor] [varchar](140) NOT NULL,
 CONSTRAINT [PK_moneda_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[multa]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[multa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[moneda] [int] NULL,
	[monto] [float] NULL,
 CONSTRAINT [PK_Multa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resolucion]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resolucion](
	[idResolucion] [int] IDENTITY(1,1) NOT NULL,
	[fechaResolucion] [date] NULL,
	[url] [varchar](140) NULL,
 CONSTRAINT [PK_Resolucion] PRIMARY KEY CLUSTERED 
(
	[idResolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sancion]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sancion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechaCaptura] [date] NOT NULL,
	[expediente] [varchar](140) NOT NULL,
	[autoridadSancionadora] [varchar](140) NOT NULL,
	[causaMotivoHecho] [varchar](140) NOT NULL,
	[servidorPublicoSancionado] [int] NOT NULL,
	[tipoFalta] [int] NOT NULL,
	[observaciones] [varchar](140) NULL,
	[institucionDependencia] [int] NOT NULL,
	[multa] [int] NULL,
	[resolucion] [int] NOT NULL,
	[inhabilitacion] [int] NOT NULL,
	[descripcionFalta] [varchar](140) NULL,
	[ultimaActualizacion] [date] NOT NULL,
 CONSTRAINT [PK_Sancion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servidorPublicoSancionado]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servidorPublicoSancionado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rfc] [char](13) NOT NULL,
	[curp] [char](18) NOT NULL,
	[nombre] [varchar](140) NOT NULL,
	[primerApellido] [varchar](140) NOT NULL,
	[segundoApellido] [varchar](140) NULL,
	[puesto] [varchar](140) NOT NULL,
	[nivel] [varchar](140) NULL,
	[genero] [int] NULL,
 CONSTRAINT [PK_servidorPublicoSancionado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoDocumento]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoDocumento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipoDocumento] [varchar](140) NOT NULL,
 CONSTRAINT [PK_tipoDocumento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoFalta]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoFalta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](50) NOT NULL,
	[valor] [varchar](140) NOT NULL,
 CONSTRAINT [PK_tipoFalta_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoSancion]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoSancion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](50) NOT NULL,
	[valor] [varchar](140) NOT NULL,
 CONSTRAINT [PK_tipoSancion_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[genero] ON 

INSERT [dbo].[genero] ([id], [clave], [valor]) VALUES (1, N'M', N'MASCULINO')
INSERT [dbo].[genero] ([id], [clave], [valor]) VALUES (2, N'F', N'FEMENINO')
SET IDENTITY_INSERT [dbo].[genero] OFF
GO
SET IDENTITY_INSERT [dbo].[moneda] ON 

INSERT [dbo].[moneda] ([id], [clave], [valor]) VALUES (1, N'MXN       ', N'PESO MEXICANO')
INSERT [dbo].[moneda] ([id], [clave], [valor]) VALUES (2, N'AED       ', N'DÍRHAM DE LOS EMIRATOS ÁRABES UNIDOS')
INSERT [dbo].[moneda] ([id], [clave], [valor]) VALUES (3, N'AFN       ', N'AFGANI')
GO
SET IDENTITY_INSERT [dbo].[moneda] OFF
GO
SET IDENTITY_INSERT [dbo].[tipoDocumento] ON 

INSERT [dbo].[tipoDocumento] ([id], [tipoDocumento]) VALUES (1, N'RESOLUCION')
INSERT [dbo].[tipoDocumento] ([id], [tipoDocumento]) VALUES (2, N'CONSTANCIA_SANCION')
INSERT [dbo].[tipoDocumento] ([id], [tipoDocumento]) VALUES (3, N'CONSTANCIA_INHABILITACION')
SET IDENTITY_INSERT [dbo].[tipoDocumento] OFF
GO
SET IDENTITY_INSERT [dbo].[tipoFalta] ON 

INSERT [dbo].[tipoFalta] ([id], [clave], [valor]) VALUES (1, N'AG', N'ADMINISTRATIVA GRAVE')
INSERT [dbo].[tipoFalta] ([id], [clave], [valor]) VALUES (2, N'ANG', N'ADMINISTRATIVA NO GRAVE')
INSERT [dbo].[tipoFalta] ([id], [clave], [valor]) VALUES (3, N'NAD', N'NEGLIGENCIA ADMINISTRATIVA')
SET IDENTITY_INSERT [dbo].[tipoFalta] OFF
GO
SET IDENTITY_INSERT [dbo].[tipoSancion] ON 

INSERT [dbo].[tipoSancion] ([id], [clave], [valor]) VALUES (1, N'I', N'INHABILITADO')
INSERT [dbo].[tipoSancion] ([id], [clave], [valor]) VALUES (2, N'M', N'MULTADO')
INSERT [dbo].[tipoSancion] ([id], [clave], [valor]) VALUES (3, N'S', N'SUSPENSION DEL EMPLEO, CARGO O COMISIÓN')
SET IDENTITY_INSERT [dbo].[tipoSancion] OFF
GO
ALTER TABLE [dbo].[sancion] ADD  CONSTRAINT [DF_sancion_fechaCaptura]  DEFAULT (getdate()) FOR [fechaCaptura]
GO
ALTER TABLE [dbo].[sancion] ADD  CONSTRAINT [DF_sancion_ultimaActualizacion]  DEFAULT (getdate()) FOR [ultimaActualizacion]
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD  CONSTRAINT [FK_documentos_tipoDocumento] FOREIGN KEY([tipoDocumento])
REFERENCES [dbo].[tipoDocumento] ([id])
GO
ALTER TABLE [dbo].[documentos] CHECK CONSTRAINT [FK_documentos_tipoDocumento]
GO
ALTER TABLE [dbo].[listaDocumento]  WITH CHECK ADD  CONSTRAINT [FK_listaDocumento_documentos] FOREIGN KEY([idDocumento])
REFERENCES [dbo].[documentos] ([idDocumentos])
GO
ALTER TABLE [dbo].[listaDocumento] CHECK CONSTRAINT [FK_listaDocumento_documentos]
GO
ALTER TABLE [dbo].[listaDocumento]  WITH CHECK ADD  CONSTRAINT [FK_listaDocumento_sancion] FOREIGN KEY([idSancion])
REFERENCES [dbo].[sancion] ([id])
GO
ALTER TABLE [dbo].[listaDocumento] CHECK CONSTRAINT [FK_listaDocumento_sancion]
GO
ALTER TABLE [dbo].[listaSanciones]  WITH CHECK ADD  CONSTRAINT [FK_listaSanciones_servidorPublicoSancionado] FOREIGN KEY([idSancion])
REFERENCES [dbo].[sancion] ([id])
GO
ALTER TABLE [dbo].[listaSanciones] CHECK CONSTRAINT [FK_listaSanciones_servidorPublicoSancionado]
GO
ALTER TABLE [dbo].[listaSanciones]  WITH CHECK ADD  CONSTRAINT [FK_listaSanciones_tipoSancion] FOREIGN KEY([idTipoSancion])
REFERENCES [dbo].[tipoSancion] ([id])
GO
ALTER TABLE [dbo].[listaSanciones] CHECK CONSTRAINT [FK_listaSanciones_tipoSancion]
GO
ALTER TABLE [dbo].[multa]  WITH CHECK ADD  CONSTRAINT [FK_multa_multa] FOREIGN KEY([moneda])
REFERENCES [dbo].[moneda] ([id])
GO
ALTER TABLE [dbo].[multa] CHECK CONSTRAINT [FK_multa_multa]
GO
ALTER TABLE [dbo].[sancion]  WITH CHECK ADD  CONSTRAINT [FK_sancion_inhabilitacion] FOREIGN KEY([inhabilitacion])
REFERENCES [dbo].[inhabilitacion] ([idInhabilitacion])
GO
ALTER TABLE [dbo].[sancion] CHECK CONSTRAINT [FK_sancion_inhabilitacion]
GO
ALTER TABLE [dbo].[sancion]  WITH CHECK ADD  CONSTRAINT [FK_sancion_institucionDependencia] FOREIGN KEY([institucionDependencia])
REFERENCES [dbo].[institucionDependencia] ([id])
GO
ALTER TABLE [dbo].[sancion] CHECK CONSTRAINT [FK_sancion_institucionDependencia]
GO
ALTER TABLE [dbo].[sancion]  WITH CHECK ADD  CONSTRAINT [FK_sancion_multa] FOREIGN KEY([multa])
REFERENCES [dbo].[multa] ([id])
GO
ALTER TABLE [dbo].[sancion] CHECK CONSTRAINT [FK_sancion_multa]
GO
ALTER TABLE [dbo].[sancion]  WITH CHECK ADD  CONSTRAINT [FK_sancion_resolucion] FOREIGN KEY([resolucion])
REFERENCES [dbo].[resolucion] ([idResolucion])
GO
ALTER TABLE [dbo].[sancion] CHECK CONSTRAINT [FK_sancion_resolucion]
GO
ALTER TABLE [dbo].[sancion]  WITH CHECK ADD  CONSTRAINT [FK_sancion_servidorPublicoSancionado] FOREIGN KEY([servidorPublicoSancionado])
REFERENCES [dbo].[servidorPublicoSancionado] ([id])
GO
ALTER TABLE [dbo].[sancion] CHECK CONSTRAINT [FK_sancion_servidorPublicoSancionado]
GO
ALTER TABLE [dbo].[sancion]  WITH CHECK ADD  CONSTRAINT [FK_sancion_tipoFalta] FOREIGN KEY([tipoFalta])
REFERENCES [dbo].[tipoFalta] ([id])
GO
ALTER TABLE [dbo].[sancion] CHECK CONSTRAINT [FK_sancion_tipoFalta]
GO
ALTER TABLE [dbo].[servidorPublicoSancionado]  WITH CHECK ADD  CONSTRAINT [FK_servidorPublicoSancionado_genero] FOREIGN KEY([genero])
REFERENCES [dbo].[genero] ([id])
GO
ALTER TABLE [dbo].[servidorPublicoSancionado] CHECK CONSTRAINT [FK_servidorPublicoSancionado_genero]
GO
/****** Object:  StoredProcedure [dbo].[BarraListadoSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Este procedimiento almacenado es el encargado de hacer que el paginador funcione, existiendo dos variantes, la primera es para mostrar el paginador cuando no
--se realiza ninguna busqueda, mientras que la segunda es que si se introduce algun valor distinto a nulo, se hara una consulta donde se busque los registros que
--cumplan con dichos parametros. 
CREATE procedure [dbo].[BarraListadoSPS]
@fechaActualizacion VARCHAR (140) = null, @expediente varchar(140) = null, @institucionDependencia VARCHAR (140) = null, @nombre VARCHAR (140) = null, @primerApellido VARCHAR (140) = null, 
@segundoApellido VARCHAR (140) = null, @tipoSancion VARCHAR(140) = null, @inhabilitacion varchar(140) = null, @inicioTablaListadoSPS int, @finalTablaListadoSPS int
AS

--La primer variante es cuando todos los parametros son nulos, en ese caso a dichos parametros se les otorgara el valor de %, el cual es un comodin para indicarle
--a la base de datos que buscara todos los registros.
IF @fechaActualizacion is null and @expediente is null and @institucionDependencia is null and @nombre is null and @primerApellido is null and @segundoApellido is null and @tipoSancion is null and
@inhabilitacion is null 
	BEGIN

	IF @fechaActualizacion IS NULL
    BEGIN
        SET @fechaActualizacion = '%';
    END
IF @expediente IS NULL
    BEGIN
        SET @expediente = '%';		
    END
IF @institucionDependencia IS NULL
    BEGIN
        SET @institucionDependencia = '%';
    END
IF @nombre IS NULL
    BEGIN
        SET @nombre = '%';		
    END
IF @primerApellido IS NULL
    BEGIN
        SET @primerApellido = '%';		
    END
IF @segundoApellido IS NULL
    BEGIN
        SET @segundoApellido = '%';		
    END
IF @inhabilitacion IS NULL
    BEGIN
        SET @inhabilitacion = '%';		
    END
IF @tipoSancion IS NULL
    BEGIN
       SET @tipoSancion = '%';
	END

--Para poder hacer que el paginador funcione de manera correcta, se crea una tabla temporal donde se reuna toda la informacion que se mostrara en dicho paginador,
--haciendo uniones con cada una de las tablas con la informacion requerida. Otro de los motivos por lo que se crea esta tabla temporal, es debido a que en esta tabla
--se le asigna un nuevo id a cada uno de los registros, ya que si se usa el id de la tabla principal (sanciones) y por algun motivo se borra uno de los registros o
--no se puede generar el registro y el numero del ID pasa al siguiente, ese simple detalle provoca que el paginador deje de funcionar correctamente, mostrando
--primero los primeros 10 registros, pero consecutivamente puede mostrar 1 o 2 o incluso más de los primeros 10, por lo que si nuestros primeros 10 registros tienen
--ID del 1 al 10 pero sin el ID 9 porque se borro o no se registro correctamente, en la primera pagina del paginador apareceran los ID del 1 al 11, pero en la siguiente
--pagina apareceran los ID del 10 al 20, repitiendose los IDs 10 y 11.
--Por supuesto, una vez que se introduzcan los valores, los ordenaremos todos por su id, esto con la clausula group by.
	declare @tablaAUXSPS table(
	id int not null IDENTITY(1,1),
	idSancion varchar(140),
    expediente varchar(140), 
	institucionDependencia varchar(140),
	nombre varchar(140),
	primerApellido varchar(140),
	segundoApellido varchar(140),
    servidorPublicoSancionado varchar(140),
	tipoSancion varchar(140),
	inhabilitacion varchar(140),
	ultimaActualizacion VARCHAR (140))
insert into @tablaAUXSPS (idSancion, expediente, ultimaActualizacion, institucionDependencia, nombre, primerApellido, segundoApellido, servidorPublicoSancionado, tipoSancion, inhabilitacion) select 
ISNULL(d.id, ' '), ISNULL(d.expediente, ' '), ISNULL(d.ultimaActualizacion, ' '), ISNULL(e.nombre, ' '), ISNULL(f.nombre, ' '), ISNULL(f.primerApellido, ' '), ISNULL(f.segundoApellido, ' '), 
CONCAT(f.nombre, ' ', f.primerApellido, ' ', f.segundoApellido), STRING_AGG(j.valor, ' - '), ISNULL(h.fechaFinal, ' ') 
from sancion as d
	left join institucionDependencia as e on (d.institucionDependencia =e.id)
	left join servidorPublicoSancionado as f on (d.servidorPublicoSancionado =f.id) 
	left join inhabilitacion as h on (d.inhabilitacion =h.idInhabilitacion)
	left join listaSanciones as i on (d.id = i.idSancion)
	left join tipoSancion as j on (i.idTipoSancion = j.id)
	group by d.id, d.expediente, d.ultimaActualizacion, e.nombre, f.nombre, f.primerApellido, f.segundoApellido, h.fechaFinal


--El siguiente segmento es el encargado de realizar la busqueda en la tabla temporal que creamos anteriormente, mostrando unicamente los primeros 10 registros,
--esto mediante el uso de top(10), y por supuesto utilizaremos los parametros de busqueda, que para esta variantes todos los valores son nulos. El comando 
--string_agg nos permite colocar dentro de un mismo campo más de un tipo de sanciones, ya que una sancion puede tener más de un tipo de sancion, y si se toma
--estos como registros separados, el paginador tomara cada uno de esos registros y los mostrata en pantalla, por lo que podriamos tener 2 o más registros para
--la sancion con el ID 1, y al pasar a la siguiente pagina, no apareceran los registros que no se mostraron en la primera pagina, por lo que si el registro 1
--tiene 3 tipos de sanciones, los registros 8, 9 y 10 no apareceran ni tampoco apareceran cuando se pase de pagina.	
	select COUNT(*) as cantidad from @tablaAUXSPS
	select top(10) id, idSancion, expediente, institucionDependencia, servidorPublicoSancionado, STRING_AGG(tipoSancion, ' - ') AS Jose from @tablaAUXSPS where ID >= @inicioTablaListadoSPS 
	and CONVERT(varchar,ultimaActualizacion) like @fechaActualizacion
	and expediente like @expediente
	and CONVERT(varchar,institucionDependencia) like @institucionDependencia
	and nombre like @nombre
	and primerApellido like @primerApellido
	and segundoApellido like @segundoApellido
	and tipoSancion like @tipoSancion
	and convert(varchar,inhabilitacion) like @inhabilitacion
	group by id, idSancion, expediente, institucionDependencia, servidorPublicoSancionado
	order by MAX(id)

	END

--La segunda variante del procedimiento es cuando al menos un de los parametros de busqueda es distinto a nulo, en ese caso, se realizara la busqueda. Para todos
--aquellos valores que sean nulos, se les asignara el valor de %, mientras que aquellos que no sean nulos, simplemente no se les asignara dicho valor.
ELSE
	BEGIN
IF @fechaActualizacion IS NULL
    BEGIN
        SET @fechaActualizacion = '%';
    END
IF @expediente IS NULL
    BEGIN
        SET @expediente = '%';		
    END
IF @institucionDependencia IS NULL
    BEGIN
        SET @institucionDependencia = '%';
    END
IF @nombre IS NULL
    BEGIN
        SET @nombre = '%';		
    END
IF @primerApellido IS NULL
    BEGIN
        SET @primerApellido = '%';		
    END
IF @segundoApellido IS NULL
    BEGIN
        SET @segundoApellido = '%';		
    END
IF @inhabilitacion IS NULL
    BEGIN
        SET @inhabilitacion = '%';		
    END

IF @tipoSancion IS NULL
    BEGIN
		SET @tipoSancion = '%';	
	end

--Aplica la misma regla que con la anterior variable, con la unica diferencia que para diferenciar las tablas se les coloco un nombre distinto.
	declare @tablaAUXSPSB table(
	id int not null IDENTITY(1,1),
	idSancion varchar(140),
    expediente varchar(140), 
	institucionDependencia varchar(140),
	nombre varchar(140),
	primerApellido varchar(140),
	segundoApellido varchar(140),
    servidorPublicoSancionado varchar(140),
	tipoSancion varchar(140),
	inhabilitacion varchar(140),
	ultimaActualizacion VARCHAR (140))
insert into @tablaAUXSPSB (idSancion, expediente, ultimaActualizacion, institucionDependencia, nombre, primerApellido, segundoApellido, servidorPublicoSancionado, tipoSancion, inhabilitacion) select 
ISNULL(d.id, ' '), ISNULL(d.expediente, ' '), ISNULL(d.ultimaActualizacion, ' '), ISNULL(e.nombre, ' '), ISNULL(f.nombre, ' '), ISNULL(f.primerApellido, ' '), ISNULL(f.segundoApellido, ' '), 
CONCAT(f.nombre, ' ', f.primerApellido, ' ', f.segundoApellido), STRING_AGG(j.valor, ' - '), ISNULL(h.fechaFinal, ' ') 
from sancion as d
	left join institucionDependencia as e on (d.institucionDependencia =e.id)
	left join servidorPublicoSancionado as f on (d.servidorPublicoSancionado =f.id) 
	left join inhabilitacion as h on (d.inhabilitacion =h.idInhabilitacion)
	left join listaSanciones as i on (d.id = i.idSancion)
	left join tipoSancion as j on (i.idTipoSancion = j.id)


	group by d.id, d.expediente, d.ultimaActualizacion, e.nombre, f.nombre, f.primerApellido, f.segundoApellido, h.fechaFinal
	--order by MAX(d.id)

--La unica diferencia aqui es que en lugar de llamar a la primera tabla, llamaremos a la segunda tabla, ademas que en este caso los parametros de busqueda pueden
--ser nulos o nos.
select COUNT(*) as cantidad from @tablaAUXSPSB
select top(10) id, idSancion, expediente, institucionDependencia, servidorPublicoSancionado, STRING_AGG(tipoSancion, ' - ') AS Miguel from @tablaAUXSPSB where ID >= @inicioTablaListadoSPS 
	and CONVERT(varchar,ultimaActualizacion) like @fechaActualizacion
	and expediente like @expediente
	and CONVERT(varchar,institucionDependencia) like @institucionDependencia
	and nombre like @nombre
	and primerApellido like @primerApellido
	and segundoApellido like @segundoApellido
	and tipoSancion like @tipoSancion
	and convert(varchar,inhabilitacion) like @inhabilitacion

	group by id, idSancion, expediente, institucionDependencia, servidorPublicoSancionado
	order by MAX(id)
	END
	
GO
/****** Object:  StoredProcedure [dbo].[InsertarDocumentosSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--El procedimiento almacenado para insertar documentos. Ya que en la tabla de sanciones no se guardan los documentos, sino que estos se dividen en dos tablas, uno
--donde esta el listado de los documentos para cada sancion, y la segunda tabla son los documentos en si. Para ello, declararemos una variable para el id de la
--sancion al cual corresponde dicho documento/s. Tras esto, se insertara en la tabla de documentos la informacion del respectivo documento, para luego tomar el
--ID de dicho documento y guardarlo en una segunda variable llamada idDocumento.
CREATE procedure [dbo].[InsertarDocumentosSPS]
@Titulo varchar(140) = null, @idTipoDocumento int = null, @descripcion varchar(140) = null, @url varchar(200) = null, @fecha date = null
AS
declare @idSancion as int
set @idSancion = (select MAX(id) from sancion)

INSERT INTO documentos(titulo, tipoDocumento, descripcion, url, fecha) values (@Titulo, @idTipoDocumento, @descripcion, @url, @fecha)
declare @idDocumento as int
set @idDocumento = (select max(idDocumentos) from documentos)

--Ya que contamos con el id del documento y la sancion, solo es agregar dichos valores a nuestra tabla de listaDocumentos, el cual recibira el valor del idDocumento
--y el idSancion.
INSERT INTO listaDocumento(idDocumento, idSancion) values (@idDocumento, @idSancion) 
GO
/****** Object:  StoredProcedure [dbo].[InsertarSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--El procedimiento almacenado para insertar las sanciones. Debido a que el insertar una sancion requiere insertar muchos valores en distintas tablas, este se
--debe de llevar un orden para evitar que la sancion haga conflicto debido a que una tabla no tiene un valor que depende de otra. Por supusto, para cada tabla,
--hay un parrafo distinto destinado a ellos, y al final de cada insert, se declara una variable id para dicha tabla y se tomara, para finalmente colocarla en el
--insert de la tabla de sanciones.
CREATE procedure [dbo].[InsertarSPS]
@expediente varchar(140) = null, @autoridadSancionadora varchar(140) = null, @causaMotivoHecho varchar(140), @RFC CHAR (13) = null, @CURP CHAR (18) = null, 
@nombre VARCHAR (140) = null, @primerApellido VARCHAR (140) = null, @segundoApellido VARCHAR (140) = null, @puesto VARCHAR (140) = null, @nivel VARCHAR (140) = null, @genero INT = null, 
@tipoFalta INT = null, @observaciones VARCHAR (140) = null, @claveInstitucionDependencia VARCHAR (140) = null, @nombreInstitucionDependencia VARCHAR (140) = null, 
@siglasInstitucionDependencia VARCHAR (10) = null, @monto FLOAT = null, @moneda INT = null, @fechaResolucion DATE = null, @urlResolucion varchar(140) = null, 
@plazoInhabilitacion varchar(10) = null, @fechaInicialInhabilitacion date = null, @fechaFinalInhabilitacion date = null, @descripcionFalta varchar(140) = null
AS
INSERT INTO servidorPublicoSancionado (rfc, curp, nombre, primerApellido, segundoApellido, puesto, nivel, genero) values (@RFC, @CURP, @nombre, @primerApellido, @segundoApellido, @puesto,
@nivel, @genero) 
declare @idServidorPublicoSancionado as int
set @idServidorPublicoSancionado = (select max(id) from servidorPublicoSancionado)

INSERT INTO institucionDependencia(clave, nombre, siglas) values (@claveInstitucionDependencia, @nombreInstitucionDependencia, @siglasInstitucionDependencia) 
declare @idInstitucionDependencia as int
set @idInstitucionDependencia = (select max(id) from institucionDependencia)

INSERT INTO multa(monto, moneda) values (@monto, @moneda) 
declare @idMulta as int
set @idMulta = (select max(id) from multa)

INSERT INTO resolucion(fechaResolucion, url) values (@fechaResolucion, @urlResolucion) 
declare @idResolucion as int
set @idResolucion = (select max(idResolucion) from resolucion)

INSERT INTO inhabilitacion(plazo, fechaInicial, fechaFinal) values (@plazoInhabilitacion, @fechaInicialInhabilitacion, @fechaFinalInhabilitacion) 
declare @idInhabilitacion as int
set @idInhabilitacion = (select max(idInhabilitacion) from inhabilitacion)

INSERT INTO sancion(expediente, autoridadSancionadora, causaMotivoHecho, servidorPublicoSancionado, tipoFalta, observaciones, institucionDependencia, multa, resolucion, inhabilitacion, descripcionFalta)
values (@expediente, @autoridadSancionadora, @causaMotivoHecho, @idServidorPublicoSancionado, @tipoFalta, @observaciones, @idInstitucionDependencia, @idMulta, @idResolucion, @idInhabilitacion, @descripcionFalta) 
GO
/****** Object:  StoredProcedure [dbo].[InsertarTipoSancionSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--El procedimiento almacenado para insertar el tipo de sancion para cada sancion. Al igual que el procedimiento para insertar documentos, en este caso declaramos
--una variable para obtener el id de nuestra sancion, para finalmente agregarlo en nuestra tabla de listaSanciones, junto al id de la sancion y a la descripcion. 
CREATE procedure [dbo].[InsertarTipoSancionSPS]
@TipoSancion int = null, @descripcionSancion varchar(500) = null
AS

declare @idSancion as int
set @idSancion = (select MAX(id) from sancion)

INSERT INTO listaSanciones(idTipoSancion, idSancion, descripcionSancion) values (@TipoSancion, @idSancion, @descripcionSancion) 
GO
/****** Object:  StoredProcedure [dbo].[llenarDocumento]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Este procedimiento almacenado se encarga de hacer un select a los tipos de documentos, para así poder mostrarlo en los listados del programa
CREATE procedure [dbo].[llenarDocumento]
as
begin
select id, tipoDocumento from tipoDocumento;
end
GO
/****** Object:  StoredProcedure [dbo].[llenarFalta]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Este procedimiento almacenado se encarga de hacer un select a los tipos de faltas, para así poder mostrarlo en los listados del programa
CREATE procedure [dbo].[llenarFalta]
as
begin
select id, valor from tipoFalta;
end
GO
/****** Object:  StoredProcedure [dbo].[llenarGenero]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Este procedimiento almacenado se encarga de hacer un select a los generos, para así poder mostrarlo en los listados del programa
CREATE procedure [dbo].[llenarGenero]
as
begin
select id, valor from genero;
end
GO
/****** Object:  StoredProcedure [dbo].[llenarMoneda]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Este procedimiento almacenado se encarga de hacer un select a los tipos de monedas, para así poder mostrarlo en los listados del programa
CREATE procedure [dbo].[llenarMoneda]
as
begin
select id, valor from moneda;
end
GO
/****** Object:  StoredProcedure [dbo].[llenarSancion]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Este procedimiento almacenado se encarga de hacer un select a los tipos de sancion, para así poder mostrarlo en los listados del programa
CREATE procedure [dbo].[llenarSancion]
as
begin
select id, valor from tipoSancion;
end
GO
/****** Object:  StoredProcedure [dbo].[ModificarDocumentosSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--El procedimiento almacenado para modificar los documentos. Para este proceso necesitamos al menos una sancion registrada, pues se utilizara el ID de esa sancion
--para poder modificar sus documentos. Posteriormente, una vez guardado los cambios, se guardaran en la tabla de documentos los respectivos cambios. Cabe
--destacar que una vez que se haga el registro, los documentos no podran ser borradas, por lo que unicamente se podran agregar más documentos.
CREATE procedure [dbo].[ModificarDocumentosSPS]
@Titulo varchar(140) = null, @idTipoDocumento int = null, @descripcion varchar(140) = null, @url varchar(200) = null, @fecha date = null, @idSancion int
AS

INSERT INTO documentos(titulo, tipoDocumento, descripcion, url, fecha) values (@Titulo, @idTipoDocumento, @descripcion, @url, @fecha)
declare @idDocumento as int
set @idDocumento = (select max(idDocumentos) from documentos)

INSERT INTO listaDocumento(idDocumento, idSancion) values (@idDocumento, @idSancion) 

GO
/****** Object:  StoredProcedure [dbo].[ModificarSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--El procedimiento almacenado para modificar las sanciones. Cabe mencionar que dentro del programa hay algunos campos que no pueden ser editados por ningun medio,
--por lo que dentro de algunas tablas no se podran aplicar cambios en algunos cambios ya determinados.
CREATE procedure [dbo].[ModificarSPS]
@id int,

@expediente varchar(140) = null, @autoridadSancionadora varchar(140) = null, @causaMotivoHecho varchar(140), @RFC CHAR (13) = null, @CURP CHAR (18) = null, 
@nombre VARCHAR (140) = null, @primerApellido VARCHAR (140) = null, @segundoApellido VARCHAR (140) = null, @puesto VARCHAR (140) = null, @nivel VARCHAR (140) = null, @genero INT = null, 
@tipoFalta INT = null, @observaciones VARCHAR (140) = null, @claveInstitucionDependencia VARCHAR (140) = null, @nombreInstitucionDependencia VARCHAR (140) = null, 
@siglasInstitucionDependencia VARCHAR (10) = null, @monto FLOAT = null, @moneda INT = null, @fechaResolucion DATE = null, @urlResolucion varchar(140) = null, 
@plazoInhabilitacion varchar(10) = null, @fechaInicialInhabilitacion date = null, @fechaFinalInhabilitacion date = null, @descripcionFalta varchar(140) = null
AS

UPDATE SPO set rfc = @RFC, curp = @CURP, nombre = @nombre, primerApellido = @primerApellido, segundoApellido = @segundoApellido, puesto = @puesto, nivel = @nivel, genero = @genero 
from servidorPublicoSancionado as SPO
inner join sancion as d on (SPO.id = d.servidorPublicoSancionado)
where d.id = @id

UPDATE ISD set clave = @claveInstitucionDependencia, nombre = @nombreInstitucionDependencia, siglas = @siglasInstitucionDependencia from institucionDependencia as ISD
inner join sancion as d on (ISD.id = d.institucionDependencia)
where d.id = @id

UPDATE MUL set monto = @monto, moneda = @moneda from multa as MUL
inner join sancion as d on (MUL.id = d.multa)
where d.id = @id

UPDATE RES set fechaResolucion = @fechaResolucion, url = @urlResolucion from resolucion as RES
inner join sancion as d on (RES.idResolucion = d.resolucion)
where d.id = @id

UPDATE INH set plazo = @plazoInhabilitacion, fechaInicial = @fechaInicialInhabilitacion, fechaFinal = @fechaFinalInhabilitacion from inhabilitacion as INH
inner join sancion as d on (INH.idInhabilitacion = d.inhabilitacion)
where d.id = @id

UPDATE SC set expediente = @expediente, autoridadSancionadora = @autoridadSancionadora, causaMotivoHecho = @causaMotivoHecho, tipoFalta = @tipoFalta, observaciones = @observaciones,
descripcionFalta = @descripcionFalta from sancion as SC
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[ModificarTipoSancionSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--El procedimiento almacenado para modificar las sanciones. Para este proceso necesitamos al menos una sancion registrada, pues se utilizara el ID de esa sancion
--para poder modificar sus sanciones. Posteriormente, una vez guardado los cambios, se guardaran en la tabla de listaSanciones los respectivos cambios. Cabe
--destacar que una vez que se haga el registro, las sanciones no podran ser borradas, por lo que unicamente se podran agregar más tipos de sanciones.
CREATE procedure [dbo].[ModificarTipoSancionSPS]
@TipoSancion int = null, @descripcionSancion varchar(500) = null, @idSancion int
AS

INSERT INTO listaSanciones(idTipoSancion, idSancion, descripcionSancion) values (@TipoSancion, @idSancion, @descripcionSancion)
GO
/****** Object:  StoredProcedure [dbo].[UltimoBarraListadoSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Este procedimiento almacenado es el encargado de hacer el conteo de todos los registros de los publicos sancionados, esto con la finalidad de indicar al
--paginador en donde se encuentra el ultimo registro para que el boton de la ultima pagina pueda funcionar. Por supuesto, una parte de aquello se encarga el
--procedimiento, la otra parte se encarga el programa.
CREATE procedure [dbo].[UltimoBarraListadoSPS]
@fechaActualizacion VARCHAR (140) = null, @expediente varchar(140) = null, @institucionDependencia VARCHAR (140) = null, @nombre VARCHAR (140) = null, @primerApellido VARCHAR (140) = null, 
@segundoApellido VARCHAR (140) = null, @tipoSancion VARCHAR(140) = null, @inhabilitacion varchar(140) = null, @Total int = null output
as

--Para comenzar, primero debemos de aclarar que existen dos versiones para este procedimiento, aquella que se ejecuta cuando todos los parametros de busqueda son
--nulos, y aquella en el que al menos uno de ellos no es nulo, comenzando por la primera version, en la que todas las variables son nulas.
IF @fechaActualizacion is null and @expediente is null and @institucionDependencia is null and @nombre is null and @primerApellido is null and @segundoApellido is null and @tipoSancion is null and
@inhabilitacion is null 
	BEGIN

--Comenzando y al igual que el procedimiento del listado, comenzaremos por declarar una tabla temporal, en la cual guardaremos todos los registros junto con toda
--la informacion que estos lo conforman. 
	declare @tablaAUXTotal table(
	id int not null IDENTITY(1,1),
	idSancion varchar(140),
    expediente varchar(140), 
	institucionDependencia varchar(140),
	nombre varchar(140),
	primerApellido varchar(140),
	segundoApellido varchar(140),
	tipoSancion varchar(140),
	inhabilitacion varchar(140),
	ultimaActualizacion VARCHAR (140))
		insert into @tablaAUXTotal (idSancion, expediente, ultimaActualizacion, institucionDependencia, nombre, primerApellido, segundoApellido, tipoSancion, inhabilitacion) select 
d.id, ISNULL(d.expediente, ' '), ISNULL(d.ultimaActualizacion, ' '), ISNULL(e.nombre, ' '), ISNULL(f.nombre, ' '), ISNULL(f.primerApellido, ' '), 
ISNULL(f.segundoApellido, ' '), STRING_AGG(ISNULL(j.valor, ' '), ' - '), ISNULL(h.fechaFinal, ' ') 
from sancion as d
	left join institucionDependencia as e on (d.institucionDependencia =e.id)
	left join servidorPublicoSancionado as f on (d.servidorPublicoSancionado =f.id) 
	left join inhabilitacion as h on (d.inhabilitacion =h.idInhabilitacion)
	left join listaSanciones as i on (d.id = i.idSancion)
	left join tipoSancion as j on (i.idTipoSancion = j.id)
	group by d.id, d.expediente, d.ultimaActualizacion, e.nombre, f.nombre, f.primerApellido, f.segundoApellido, h.fechaFinal

--El procedimiento de la tabla temporal es el mismo al de BarraListado, el gran cambio radica en el select the este procedimiento, pues en el anterior procedimiento
--se realizaba un select con la informacion que se requeria, mientras que en este no, en este utilizaremos la clausula COUNT para contar todo los registros 
--almacenados, y para evitar que produzcan numeros duplicados, utilizaremos la clausula DISTINCT dentro de COUNT para indicarle que solo contara a aquellos que
-- cuenten con un idSancion distinto.
	select * from @tablaAUXTotal
	select COUNT(*) as cantidad from @tablaAUXTotal
	set @Total = (select count(DISTINCT idSancion) from @tablaAUXTotal)
	return @Total
	END
ELSE
--El segundo escenario es bastanet parecido al anterior, salvo con la diferencia de que en este caso vamos a buscar registros con al menos un parametro de busqueda
--que no sea uno y que por consiguiente se cambie a un %
	BEGIN
IF @fechaActualizacion IS NULL
    BEGIN
        SET @fechaActualizacion = '%';
    END
IF @expediente IS NULL
    BEGIN
        SET @expediente = '%';		
    END
IF @institucionDependencia IS NULL
    BEGIN
        SET @institucionDependencia = '%';
    END
IF @nombre IS NULL
    BEGIN
        SET @nombre = '%';		
    END
IF @primerApellido IS NULL
    BEGIN
        SET @primerApellido = '%';		
    END
IF @segundoApellido IS NULL
    BEGIN
        SET @segundoApellido = '%';		
    END
IF @inhabilitacion IS NULL
    BEGIN
        SET @inhabilitacion = '%';		
    END
IF @tipoSancion IS NULL
    BEGIN
       SET @tipoSancion = '%';
	END

 declare @tablaAUXUltimo table(
	id int not null IDENTITY(1,1),
	idSancion varchar(140),
    expediente varchar(140), 
	institucionDependencia varchar(140),
	nombre varchar(140),
	primerApellido varchar(140),
	segundoApellido varchar(140),
	tipoSancion varchar(140),
	inhabilitacion varchar(140),
	ultimaActualizacion VARCHAR (140))
insert into @tablaAUXUltimo (idSancion, expediente, ultimaActualizacion, institucionDependencia, nombre, primerApellido, segundoApellido, tipoSancion, inhabilitacion) select 
d.id, ISNULL(d.expediente, ' '), ISNULL(d.ultimaActualizacion, ' '), ISNULL(e.nombre, ' '), ISNULL(f.nombre, ' '), ISNULL(f.primerApellido, ' '), 
ISNULL(f.segundoApellido, ' '), STRING_AGG(isnull(j.valor, ' '), ' - '), ISNULL(h.fechaFinal, ' ') 
from sancion as d
	left join institucionDependencia as e on (d.institucionDependencia =e.id)
	left join servidorPublicoSancionado as f on (d.servidorPublicoSancionado =f.id) 
	left join inhabilitacion as h on (d.inhabilitacion =h.idInhabilitacion)
	left join listaSanciones as i on (d.id = i.idSancion)
	left join tipoSancion as j on (i.idTipoSancion = j.id)

	group by d.id, d.expediente, d.ultimaActualizacion, e.nombre, f.nombre, f.primerApellido, f.segundoApellido, h.fechaFinal

	set @total = (select COUNT(DISTINCT idSancion) as cantidad from @tablaAUXUltimo where CONVERT(varchar,ultimaActualizacion) like @fechaActualizacion
	and expediente like @expediente
	and CONVERT(varchar,nombre) like @institucionDependencia
	and nombre like @nombre
	and primerApellido like @primerApellido
	and segundoApellido like @segundoApellido
	and tipoSancion like @tipoSancion
	and convert(varchar,inhabilitacion) like @inhabilitacion)
	

	select count(*) as jose from @tablaAUXUltimo where CONVERT(varchar,ultimaActualizacion) like @fechaActualizacion
	and expediente like @expediente
	and CONVERT(varchar,nombre) like @institucionDependencia
	and nombre like @nombre
	and primerApellido like @primerApellido
	and segundoApellido like @segundoApellido
	and tipoSancion like @tipoSancion
	and convert(varchar,inhabilitacion) like @inhabilitacion
	DELETE FROM @tablaAUXUltimo

	END
GO
/****** Object:  StoredProcedure [dbo].[VisualizarDocumentosSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[VisualizarDocumentosSPS]
@id varchar(50)
AS
SELECT b.titulo, c.tipoDocumento, b.fecha, b.url, b.descripcion
from listaDocumento as a
	inner join documentos as b on (a.idDocumento = b.idDocumentos)
	inner join tipoDocumento as c on (b.tipoDocumento = c.id)
	inner join sancion as d on (a.idSancion = d.id)
	where @id = d.id

GO
/****** Object:  StoredProcedure [dbo].[VisualizarSancionesSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[VisualizarSancionesSPS]
@id varchar(50)
AS
SELECT b.valor, a.descripcionSancion
from listaSanciones as a
	inner join tipoSancion as b on (a.idTipoSancion =b.id)
	inner join sancion as c on (a.idSancion = c.id)
	where @id = c.id
GO
/****** Object:  StoredProcedure [dbo].[VisualizarSPS]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--El procedimiento para visualizar los servidores publicos sancionados. Este procedimiento se utiliza en dos modulos, la modificacion y la visualizacion de las sanciones. 
--Funciona como un simple select, mostrando los datos de la tabla de sancion utilizando un simple select con inner joins a las tablas de institucionDependencia, 
--servidorPublicoSancionado, genero, resolucion, inhabilitacion, multa, moneda y tipoFalta.
CREATE procedure [dbo].[VisualizarSPS]
@id varchar(50)
AS
SELECT a.expediente, a.ultimaActualizacion, c.nombre, c.primerApellido, c.segundoApellido, c.CURP, c.RFC, d.valor as genero, d.id as genero2, b.nombre as nombreISD, b.clave, b.siglas, c.puesto, c.nivel, a.autoridadSancionadora,
e.fechaResolucion, e.url, f.plazo, f.fechaInicial, f.fechaFinal, g.monto as monto, j.valor as moneda, j.id as moneda2, h.id as idFalta, h.valor as falta, a.causaMotivoHecho, a.observaciones, a.descripcionFalta
from sancion as a
	inner join institucionDependencia as b on (a.institucionDependencia =b.id)
	inner join servidorPublicoSancionado as c on (a.servidorPublicoSancionado =c.id) 
	left join genero as d on (c.genero =d.id)
	inner join resolucion as e on (a.resolucion =e.idResolucion)
	inner join inhabilitacion as f on (a.inhabilitacion =f.idInhabilitacion)
	inner join multa as g on (a.multa =g.id)
	left join moneda as j on (g.moneda = j.id)
	inner join tipoFalta as h on (a.tipoFalta = h.id)
	where @id = a.id
GO
/****** Object:  Trigger [dbo].[actualizar_bitacoraP]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[actualizar_bitacoraP]
ON [dbo].[sancion]
FOR UPDATE  
AS
	set nocount on;
    INSERT INTO Usuario.dbo.bitacora(operacion,fecha,sistema,registros,usuario)
    SELECT 'Actualización',GETDATE(),'Sistema de los Servidores Públicos Sancionados','1',(select id from Usuario.dbo.usuario where sesion = 1);
GO
ALTER TABLE [dbo].[sancion] ENABLE TRIGGER [actualizar_bitacoraP]
GO
/****** Object:  Trigger [dbo].[eliminar_bitacoraP]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TRIGGER [dbo].[eliminar_bitacoraP]
ON [dbo].[sancion]
FOR DELETE  
AS
	set nocount on;
    INSERT INTO Usuario.dbo.bitacora(operacion,fecha,sistema,registros,usuario)
    SELECT 'Eliminación',GETDATE(),'Sistema de los Servidores Públicos Sancionados','1',1 ;
GO
ALTER TABLE [dbo].[sancion] DISABLE TRIGGER [eliminar_bitacoraP]
GO
/****** Object:  Trigger [dbo].[insertar_bitacoraP]    Script Date: 16/02/2023 02:39:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[insertar_bitacoraP]
ON [dbo].[sancion]
FOR INSERT
AS
	set nocount on;
    INSERT INTO Usuario.dbo.bitacora(operacion,fecha,sistema,registros,usuario)
    SELECT 'Alta',GETDATE(),'Sistema de los Servidores Públicos Sancionados','1',(select id from Usuario.dbo.usuario where sesion = 1);
GO
ALTER TABLE [dbo].[sancion] ENABLE TRIGGER [insertar_bitacoraP]
GO
USE [master]
GO
